<p id="notice"><%= notice %></p>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<br>

<% if user_signed_in? %>
  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>
    <% if posts.any? %>
      <% posts.each do |post| %>
        <div>
          <%= link_to post.title, post %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <br>
  
  <h1 class="top-title">＜<%= current_user.nickname %>さんの通院記録＞</h1>
  <br>
  <% if @posts.any? %>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>日付</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.start_time.strftime("%Y-%m-%d") %></td>
            <td><%= link_to '詳細', post %></td>
            <td><%= link_to '編集', edit_post_path(post.id) %></td>
            <td><%= link_to '削除',post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    まだ投稿がありません。
  <% end %>
  <%= paginate @posts %>
  <br>
  <br>
<% else %>
  新規登録・ログインしてください
<% end %>