<%= form_with(model: @post, local: true) do |f| %>

  <% if @post.errors.any? %>
    <div class="error-alert">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="title">
    <%= f.label :【タイトル】 %>
    <br>
    <%= f.text_field :title, class:"title-form" %>
  </div>
  <br>

  <div class="date">
    <%= f.label :【通院日】 %>
    <br>
    <%= f.date_field :start_time, class:"date-form" %>
  </div>
  <br>

  <div class="category">
    <%= f.label :【カテゴリ】 %>
    <br>
    <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "診療科を選択してください", class:"category-form" %>
  </div>
  <br>

  <div class="reason">
    <%= f.label :【通院理由】 %>
    <br>
    <%= f.text_field :reason, class:"reason-form" %>
  </div>
  <br>

  <div class="memo">
    <%= f.label :【メモ】 %>
    <br>
    <%= f.text_field :memo, class:"memo-form" %>
  </div>
  <br>


  <div class="submit">
    <%= f.submit "投稿" %>
  </div>
  <br>

  <div class="new-link">
    <%= link_to 'Back', conditions_path, class:"back" %>
  </div>

<% end %>