<p id="notice"><%= notice %></p>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<br>

<div class="show">
  <table>

    <tr>
      <th><strong>【タイトル】</strong></th><td><%= @post.title %></td>
    </tr>

    <tr>
      <th><strong>【通院日】</strong></th><td><%= @post.start_time.strftime("%Y-%m-%d") %></td>
    </tr>

    <tr>
      <th><strong>【カテゴリ】</strong></th><td><%= @post.category.name %></td>
    </tr>

    <tr>
      <th><strong>【通院理由】</strong></th><td><%= @post.reason %></td>
    </tr>

    <tr>
      <th><strong>【メモ】</strong></th><td><%= @post.memo %></td>
    </tr>

  </table>
</div>
<br>

<div class="show-link">
  <%= link_to '編集', edit_post_path(@post), class:"edit" %>
  <%= link_to 'Back', posts_path, class:"back" %>
</div>